*{
    background-color: #222;
    color:#c05773;
}
.name{
    font-size: 5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(10px 2px 4px red);
    color: blueviolet;
}
.banner
{
    background-image: url("https://occ-0-5261-3663.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABer7SeWc6FvkBqWtk61GwL7rshAEVCOARQZVTEJGnLXykYBlO4nbbr6gs7M650BjULuaN6hucXKr5xY2iqPAajrxXd70HawdJeuD.jpg?r=608&quot");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 600px;
}
.posters
{
     display: flex;
}